<<<<<<< HEAD
<<<<<<< HEAD
body {
  padding: 2;
  margin: 2;
}

div {
  padding: 2;
  margin: 2;
}

p {
  padding: 3;
  margin: 3;
}

img {
  max-width: 100%;
}

ul {
  width: 100%;
}

li {
  width: 100%;
}

header {
  padding: 2;
  margin: 2;
  background-image: url("../images/Ajrak1.jpg");
  text-align: center;
  color: white;
}

img#stil {
  width: 50px;
  height: 37px;
  float: left;
}

a {
  color: white;
  font-family: Arial;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
}

img#stir {
  width: 50px;
  height: 37px;
  float: right;
}

.ldiv {
  height: 590px;
  width: 12%;
  /* direction: rtl; */
  float: left;
  text-align: left;
}

span {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow-y: auto;
}

span#ldt {
  height: 320px;
  display: block;
  background-image: url('../images/sr4.jpg');
  background-size: 100% 100%;
}

span#ldc {
  height: 170px;
  display: block;
  background-image: url('../images/sr1.jpg');
  background-size: 100% 100%;
}

.mdiv {
  height: 590px;
  width: 70%;
  dir: rtl;
  float: left;
  overflow-y: auto;
  padding: 15;
  margin: 15
}

h2#mhead {
  display: inline-block;
  text-align: center;
  padding: 0;
  margin: 0;
}

.rdiv {
  height: 590px;
  width: 18%;
  dir: rtl;
  float: left;
  overflow-y: auto;
}

rdiv::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  text-align: center;
  color: darkgreen;
}

img#h3 {
  width: 50px;
  height: 50px;
}

h3.rdl {
  display: inline-block;
  padding: 0;
  margin: 0;
  color: tomato;
}

ul#a1 {
  list-style-type: none;
  padding: 1;
  margin: 1;
  width: 100%;
}

li#l1 {
  list-style-type: none;
  padding: 0;
  margin: 0;
=======
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

span {
  width: 100%;
  overflow-y: auto;
}

ul,
li {
  width: 100%;
  font-weight: bolder;
}

=======
* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
}

img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

span {
  width: 100%;
  overflow-y: auto;
}

ul,
li {
  width: 100%;
  font-weight: bolder;
}

>>>>>>> work
a {
  color: white;
  font-family: Arial;
  padding: 8px;
  display: inline-block;
  text-decoration: none;
}

header {
  padding: 0;
  margin: 0;
  background-image: url("../images/Ajrak1.jpg");
  background-size: contain;
  text-align: center;
  color: white;
  position: static;
  height: 6%;
  width: 100%;
}

header:hover {
  font-size: 50px;

  #hh1 {
    color: red;
  }

  transition-duration: 2s;
  transition-timing-function: linear;
}

img#stil {
  width: 50px;
  height: 37px;
  float: left;
  border-radius: 50%;
}

img#stir {
  width: 50px;
  height: 37px;
  float: right;
  border-radius: 50%;
}

main {
  height: 88%;
  width: 100%;
}

.ldiv {
  height: 100%;
  width: 12%;
  padding-left: 2px;
  float: left;
  text-align: center;
}

.mhead {
  display: inline-block;
}

#ldt {
  height: 60%;
  display: block;
  background-image: url("../images/sr4.jpg");
  background-size: cover;
}

ul#a1 {
  list-style-type: none;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#ldc {
  height: 30%;
  display: block;
  background-image: url("../images/sr1.jpg");
  background-size: cover;
}

.mdiv {
  height: 100%;
  width: 72%;
  float: left;
}

span#mdt {
  height: 88%;

  iframe {
    height: 94%;
    width: 100%;
    padding: 2px;
    border: none;
  }
}

.mdh2 {
  display: block;
  text-align: center;
}

.rdiv {
  height: 100%;
  display: block;
  width: 15%;
  float: left;
  text-align: center;
}

#rdt {
  height: 94%;
  display: block;
}

footer {
  position: static;
  text-align: center;
  color: red;
  height: 5%;
  width: 100%;
}

img#h3 {
  width: 50px;
  height: 50px;
}

h3.rdl {
  display: inline-block;
  color: tomato;
}

li {
  list-style-type: none;
<<<<<<< HEAD
>>>>>>> work
=======
>>>>>>> work
  width: 100%;
}

a:hover {
  background-color: darkgreen;
<<<<<<< HEAD
<<<<<<< HEAD
}

a#blink {
  background-color: purple;
  color: white;
  padding: 8px;
  spacing: 8px;
  display: inline-block;
  text-decoration: none;
=======
=======
>>>>>>> work
  border-radius: 10%;
  width: 40%;
  text-align: center;
  font-size: 24px;
  transition-duration: 1s;
  transition-timing-function: linear;
  transform: translate(-35px);
}

a#fr1 {
  background-color: purple;
  color: white;
  padding: 8px;
  margin: 8px;
  display: inline-block;
  text-decoration: none;
}

a#sr2 {
  background-color: purple;
  color: white;
  padding: 8px;
  margin: 8px;
  display: inline-block;
  text-decoration: none;
}

a#tr3 {
  background-color: purple;
  color: white;
  padding: 8px;
  margin: 8px;
  display: inline-block;
  text-decoration: none;
}

a#fr4 {
  background-color: purple;
  color: white;
  padding: 8px;
  margin: 8px;
  display: inline-block;
  text-decoration: none;
}

p#p1 {
  border-style: dotted;
}

p#p2 {
  border-style: double;
<<<<<<< HEAD
>>>>>>> work
=======
>>>>>>> work
}